* {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

/* to make screen 100% */
body > #root > div {
  height: 100vh;
}

.app-container {
  width: 100%;
  height: 100%;
  background-color: grey;
  display: flex;
}

.left {
  width: 25%;
  height: 100%;
  background-color: green;
}
.right {
  width: 75%;
  height: 100%;
  background-color: purple;
}
