* {
  margin: 0;
  padding: 0;
}

body > #root > div {
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: aqua;
}

.innerContainers {
  display: flex;
}

.left {
  width: 25%;
  height: 100%;
  background-color: bisque;
}

.right {
  width: 100%;
  height: 100%;
  background-color: lightgrey;
}

/* button */
button {
  margin-bottom: 5px;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

button:active {
  border: 0.5px solid black;

}
